<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/primeiro.css">
    <link rel="stylesheet" href="~/css/media.css">
    <link href="https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold" rel="stylesheet">
    <link rel="stylesheet" href="~/fonte/fonts.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/FWONK.png">
    <title>F1</title>
</head>
  <body>
    <header>
   
        <img class="title" src="~/Imagens/FWONK.png" alt="Logo da Fórmula 1" width="200px" height="-200px">
   

    <ul>
        <a class="nav-link text-dark" id="u" asp-area="" asp-controller="Home" asp-action="Privacy"><button>Sobre</button></a>
        <a class="nav-link text-dark" id="v" asp-area="" asp-controller="Home" asp-action="Login"><button>História</button></a>
        <a class="nav-link text-dark" id="y" asp-area="" asp-controller="Home" asp-action="Privacy"><button>Cadastro</button></a>
        <a class="nav-link text-dark" id="t" asp-area="" asp-controller="Home" asp-action="Entrar"><button>Entrar</button></a>


    </ul>
    </header>
    <main>
    <aside>
        <h2 style="margin-top: 170px;">Conheça mais sobre a</h2>
        <h2><span>história da Fórmula 1</span></h2>

        <p>A Fórmula 1 é considerada a categoria mais importante do automobilismo mundial. Por ela, passaram nomes, como: Ayrton Senna, Michael Schumacher, Alain Prost, Nelson Piquet, Juan Manuel Fangio, Niki Lauda, Jackie Stewart, Jack Brabham e tantos outros pilotos de renome. Como em todo esporte a motor, na F1 os resultados dependem da combinação entre piloto e equipamento.</p>


        <a class="nav-link text-dark" id="saiba" asp-area="" asp-controller="Home" asp-action="Privacy"><button>Saiba mais</button></a>

    </aside>

    <article>
        <div class="imagem">
            <img src="Imagens/pngimg.com - formula_1_PNG39.png" alt="Carro de Fórmula 1">
        </div>
    </article>
    </main>
    </body>
</html>
<!--
    @model IEnumerable<mvc_f.Models.ClassUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loginusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaConfirm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loginusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaConfirm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->